data/Cvirginica_v300.fa
.Rproj.user
data
analyses/myobj_53
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-DML-mRNA.txt
analyses/2018-11-01-DML-and-DMR-Analysis/2018-11-07-Exon-CGmotif.txt
genome-feature-tracks/C_virginica-3.0_Gnomon_CDS_sorted_yrv.gff3
genome-feature-tracks/C_virginica-3.0_Gnomon_CDS_yrv.gff3
genome-feature-tracks/C_virginica-3.0_Gnomon_exon_sorted_yrv.gff3
genome-feature-tracks/C_virginica-3.0_Gnomon_exon_yrv.gff3
genome-feature-tracks/ref_C_virginica-3.0_top_level.gff3
analyses/2018-12-02-Gene-Enrichment-Analysis/uniprot-filtered-reviewed.fasta
analyses/2018-12-02-Gene-Enrichment-Analysis/uniprot-filtered-reviewed.fasta.phr
analyses/2018-12-02-Gene-Enrichment-Analysis/uniprot-filtered-reviewed.fasta.pin
analyses/2018-12-02-Gene-Enrichment-Analysis/uniprot-filtered-reviewed.fasta.psq
analyses/2018-12-02-Gene-Enrichment-Analysis/uniprot-reviewed_yes.tab
analyses/2018-12-02-Gene-Enrichment-Analysis/2018-12-02-Background-mRNA.txt
analyses/2018-12-02-Gene-Enrichment-Analysis/2018-12-18-Gene-Background-mRNA.txt
analyses/2018-12-02-Gene-Enrichment-Analysis/2019-01-04-Gene-Background-Exons.txt
analyses/2018-12-02-Gene-Enrichment-Analysis/2019-02-22-mRNA-Gene-Background-Uniprot.csv
analyses/2018-12-02-Gene-Enrichment-Analysis/2019-06-20-mRNA-Gene-Background-Uniprot.csv
analyses/2018-12-02-Gene-Enrichment-Analysis/2019-07-30-All-Tested-Loci-ReVIGO-Input.csv
analyses/2018-12-02-Gene-Enrichment-Analysis/2019-07-30-All-Tested-Loci-Uniprot-GOTerms.csv
