
.Rproj.user/A60899EE/console06/INDEX001
.Rproj.user/A60899EE/pcs/files-pane.pper
.Rproj.user/A60899EE/pcs/source-pane.pper
.Rproj.user/A60899EE/pcs/windowlayoutstate.pper
.Rproj.user/A60899EE/pcs/workbench-pane.pper
.Rproj.user/A60899EE/rmd-outputs
.Rproj.user/A60899EE/saved_source_markers
.Rproj.user/A60899EE/sources/prop/5BE03740
.Rproj.user/A60899EE/sources/prop/64C0EA23
.Rproj.user/A60899EE/sources/prop/6D95C1AF
.Rproj.user/A60899EE/sources/prop/85E700D8
.Rproj.user/A60899EE/sources/prop/8865D521
.Rproj.user/A60899EE/sources/prop/9CA386D0
.Rproj.user/A60899EE/sources/prop/C6190F61
.Rproj.user/A60899EE/sources/prop/C73BCAF3
.Rproj.user/A60899EE/sources/prop/C97FE8A7
.Rproj.user/A60899EE/sources/prop/E941D0E9
.Rproj.user/A60899EE/sources/prop/E9DF7ABA
.Rproj.user/A60899EE/sources/prop/INDEX
.Rproj.user/shared/notebooks/590E0EA7-13-Gene-Enrichment-Analysis/1/s/chunks.json
.Rproj.user/shared/notebooks/74963AC-14-Differentially-Methylated-Gene-Analysis/1/s/chunks.json
.Rproj.user/shared/notebooks/93510295-04-methylkit/1/s/chunks.json
.Rproj.user/shared/notebooks/9A6B3919-10-Characterizing-CpG-Methylation/1/s/chunks.json
.Rproj.user/shared/notebooks/B1573E94-15-Differentially-Methylated-Gene-Analysis/1/s/chunks.json
.Rproj.user/shared/notebooks/DB22B17D-08-Characterizing-CpG-Methylation/1/s/chunks.json
.Rproj.user/shared/notebooks/DB819CF4-12-Gene-Enrichment-Analysis/1/s/chunks.json
.Rproj.user/shared/notebooks/E52E5A6E-10-Proportion-Test/1/s/chunks.json
.Rproj.user/shared/notebooks/EB3B260-13-Gene-Enrichment-with-GO-MWU/1/s/chunks.json
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
analyses/2018-11-01-DML-Analysis/2018-11-07-Intron-CGmotif.txt
analyses/2018-11-01-DML-Analysis/2018-11-07-TE-all-CGmotif.txt
analyses/2018-11-01-DML-Analysis/2019-05-29-Flanking-Analysis/2019-05-29-Gene-Closest-NoOverlap-CGmotifs.txt
analyses/2018-11-01-DML-Analysis/2019-05-29-Flanking-Analysis/2019-09-26-Promoter-CGmotif.txt
analyses/2018-11-01-DML-Analysis/2019-05-29-No-Overlap-CGmotifs.txt
analyses/2018-12-02-Gene-Enrichment-Analysis/2018-12-02-Background-mRNA.txt
analyses/2018-12-02-Gene-Enrichment-Analysis/2018-12-18-Gene-Background-mRNA.txt
analyses/2018-12-02-Gene-Enrichment-Analysis/2019-01-04-Gene-Background-Exons.txt
analyses/2018-12-02-Gene-Enrichment-Analysis/2019-06-20-mRNA-Gene-Background-Uniprot.csv
analyses/2018-12-02-Gene-Enrichment-Analysis/2019-07-30-All-Tested-Loci-ReVIGO-Input.csv
analyses/2018-12-02-Gene-Enrichment-Analysis/2019-07-30-All-Tested-Loci-Uniprot-GOTerms.csv
analyses/2018-12-02-Gene-Enrichment-Analysis/uniprot-filtered-reviewed.fasta
analyses/2018-12-02-Gene-Enrichment-Analysis/uniprot-filtered-reviewed.fasta.phr
analyses/2018-12-02-Gene-Enrichment-Analysis/uniprot-filtered-reviewed.fasta.pin
analyses/2018-12-02-Gene-Enrichment-Analysis/uniprot-filtered-reviewed.fasta.psq
analyses/2018-12-02-Gene-Enrichment-Analysis/uniprot-reviewed_yes.tab
analyses/2019-03-18-Characterizing-CpG-Methylation/.RData
analyses/2019-03-18-Characterizing-CpG-Methylation/.Rhistory
analyses/2019-03-18-Characterizing-CpG-Methylation/2019-04-09-All-5x-CpG-Loci-Methylated.bed
analyses/2019-03-18-Characterizing-CpG-Methylation/2019-04-09-All-5x-CpG-Loci-Methylated.bedgraph
analyses/2019-03-18-Characterizing-CpG-Methylation/2019-04-09-All-5x-CpG-Loci-Methylated.csv
analyses/2019-03-18-Characterizing-CpG-Methylation/2019-04-09-All-5x-CpGs.bed
analyses/2019-03-18-Characterizing-CpG-Methylation/2019-04-09-All-5x-CpGs.bedgraph
analyses/2019-03-18-Characterizing-CpG-Methylation/2019-04-09-All-5x-CpGs.csv
analyses/2019-03-18-Characterizing-CpG-Methylation/2019-05-29-All5xCpGs-Exon.txt
analyses/2019-03-18-Characterizing-CpG-Methylation/2019-05-29-All5xCpGs-Genes.txt
analyses/2019-03-18-Characterizing-CpG-Methylation/2019-05-29-All5xCpGs-Intron.txt
analyses/2019-03-18-Characterizing-CpG-Methylation/2019-05-29-All5xCpGs-Putative-Promoters.txt
analyses/2019-03-18-Characterizing-CpG-Methylation/2019-05-29-All5xCpGs-TE-All.txt
analyses/2019-03-18-Characterizing-CpG-Methylation/2019-05-29-All5xCpGs-TE-Cg.txt
analyses/2019-03-18-Characterizing-CpG-Methylation/2019-05-29-MethLoci-Exon.txt
analyses/2019-03-18-Characterizing-CpG-Methylation/2019-05-29-MethLoci-Genes.txt
analyses/2019-03-18-Characterizing-CpG-Methylation/cvir_bsseq_all_pe_R1_bismark_bt2_pe.bismark.cov
genome-feature-tracks/C_virginica-3.0_Gnomon_CDS_sorted_yrv.gff3
genome-feature-tracks/C_virginica-3.0_Gnomon_CDS_yrv.gff3
genome-feature-tracks/C_virginica-3.0_Gnomon_exon_sorted_yrv.gff3
genome-feature-tracks/C_virginica-3.0_Gnomon_exon_yrv.gff3
genome-feature-tracks/ref_C_virginica-3.0_top_level.gff3
